header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: darkblue;
}

span {
  color: white;
}

nav {
  /* border: solid; */
  display: flex;
  justify-content: flex-end; 
}

ul {
  display: flex;
  list-style-type: none;
  flex-direction: row;
}

li {
  margin: 20px;
}

a {
  color: white;
  text-decoration: none; 
}

@media all and (min-width: 768px) {
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: darkblue;
  flex-direction: column;
}

ul {
  display: flex;
  list-style-type: none;
  flex-direction: column;
}
}

/* Think of inline block or block items where you dont need to set column*/ 
