header {
  border: solid;
  display: flex;
  align-items: center;
  background-color: darkblue;
}

span {
  color: white;
  flex:1;
}

nav {
  border: solid;
  display: flex;
  justify-content: flex-end;
  flex:1;

}

ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  
}

li {
  margin: 20px;
}

a {
  color: white;
  text-decoration: none; 
}


